
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Bienvenidos</h5>
              <h2 class=" card-title">Informacion y Noticias</h2>
            </div>
            <app-head></app-head>
<div class = "container ">
  
  
<div class="row justify-content-center h-100">
<div class="card-columns">
    <div class="card">
        <img class="circular--square" src="./assets/img/planilla.jpg" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pago de Planilla</h5>
            <p class="card-text">Pago del mes de Octubre ya disponible</p>
            <p class="card-text"><small class="text-muted">22 de octubre</small></p>

        </div>
    </div>

    <div class="card">
        <img src="./assets/img/uniforme.jpg" class="circular--square " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Entrega de Uniformes</h5>
            <p class="card-text ">Los uniformes se estaran entregando el dia 30 de octubre 9:00 am</p>
            <p class="card-text "><small class="text-muted ">18 de osctubre</small></p>

            
        </div>
    </div>

    <div class="card ">
        <img src="./assets/img/documentos.jpg" class="circular--square " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Entrega de Documentos</h5>
            <p class="card-text "> Fecha limite para entrega de documentos 24 de octubre</p>
            <p class="card-text "><small class="text-muted ">15 de octubre</small></p>

        </div>
     </div>
   </div>
  </div>
</div>
</div>
 </div>
</div>
</div>
  </div>
</div>

